@import '../../../../../scss//colors.scss';

.search-wp{
    color: $font-color;
    position: relative;
    input{
        background: $background;
        border: 2px solid white;
        border-radius: 20px;
        padding: 15px 30px;
    }
    input:hover{
        border: 2px solid $font-color;
    }
    .search-icon{
        position: absolute;
        right: -40px;
        top: 11px;
    }
}