@import '../../../../../scss/colors.scss';

.collections-container{
    max-width: 800px;
    margin: 0 auto;
}

.coll-box{
    background-color: $background;
    padding: 20px 40px;
    margin: 10px 0;
    border-radius: 20px;
    cursor: pointer;
}