<div class="header-container m-hide">
    <div class="header-wp">
        <div class="right-col">
            <h2 class="m-top-10px text-semibold">Novibet</h2>
            <h1 class="m-top-10px text-bold">Vangelis Spathonis</h1>
            <h3 class="m-top-10px">Angular Interview Project</h3>
        </div>
        <div class="left-col">
            <img src="../../../assets/images/undraw_multitasking_hqg3.svg" alt="">
        </div>
    </div>
</div>

<div class="flex-center m-y-20px">
    <a class="m-x-10px a-link" routerLink="/" [ngStyle]="{'color': !isActive('/') ? '#3e3e3e' : '' }">
        HOME
    </a>
    <a class="m-x-10px a-link" routerLink="collections" [ngStyle]="{'color': !isActive('/collections') ? '#3e3e3e' : '' }">
        COLLECTIONS
    </a>
</div>