<div class="collections-container">
    <div class="m-top-10px flex-between">
        <button class="default-button" (click)="goToAllCollections()">
            <mat-icon class="m-r-5px" aria-hidden="false" aria-label="Add icon">keyboard_arrow_left</mat-icon>
            BACK
        </button>
        <button class="danger-button" (click)="deleteCollection()">
            DELETE
        </button>
    </div>

    <div class="m-top-20px">
        <h3 class="coll-name">
            Collection: {{collection?.name}}
        </h3>
        <h3 class="coll-name">
            Movies:
        </h3>

        <ng-container *ngFor="let movie of collectionService.movies$ | async; index as i;">
            <app-movie-card (onClickMovieCard)="onClickCard(movie.id)" [movie]="movie"></app-movie-card>
        </ng-container>
        
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "square-loader" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
