@import '../../../../../scss/colors.scss';

.alerts{
    margin: 0 15px;
    font-size: 12px;
    color: $error-color;
}

.coll-box{
    background-color: $background;
    padding: 20px 40px;
    margin: 10px 0;
    border-radius: 20px;
    cursor: pointer;
}