<div class="movie-card-cont" (click)="onClickCard()">
    <div class="flex-between align-center m-block">
        <div class="flex-start align-center m-block">
            <img class="movie-image m-w-100 m-obj-contain" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="">
            <div class="movie-details">
                <h3 class="movie-title">{{movie.title}}</h3>
                <h6 class="release-date">
                    Release date: {{movie.release_date | date: 'dd/MM/yyyy'}} 
                </h6>
            </div>

        </div>
        <div class="flex-end align-center m-flex-center">
            <div class="votes">
                <div class="align-center flex-end m-block">
                    {{movie.vote_average}} / 10
                    <mat-icon class="star-icon m-x-10px" aria-hidden="false">star</mat-icon>
                </div>
                <!-- <p class="total-votes">Total votes: {{movie.vote_count}}</p> -->
            </div>
        </div>
    </div>
</div>