@import './colors.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body, section,p,div,button{
    margin: 0;
    padding: 0;
    border:0;
    color: $font-color;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
